In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
import io
import pandas as pd
train = pd.read_csv(io.BytesIO(uploaded['train.csv']))

In [ ]:
train.head(3)

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,36,Travel_Frequently,599,Research & Development,24,3,Medical,1,4,...,80,1,10,2,3,10,0,7,8,0
1,1,35,Travel_Rarely,921,Sales,8,3,Other,1,1,...,80,1,4,3,3,4,2,0,3,0
2,2,32,Travel_Rarely,718,Sales,26,3,Marketing,1,3,...,80,2,4,3,3,3,2,1,2,0

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [ ]:
test = pd.read_csv(io.BytesIO(uploaded['test.csv']))

In [ ]:
test.head(3)

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1677,19,Non-Travel,992,Research & Development,1,1,Medical,1,4,...,4,80,0,1,2,2,1,0,0,0
1,1678,45,Travel_Rarely,1136,Sales,4,4,Marketing,1,3,...,3,80,1,7,3,3,2,2,2,2
2,1679,37,Travel_Rarely,155,Research & Development,13,3,Life Sciences,1,4,...,2,80,2,13,2,2,7,7,1,7

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1677 entries, 0 to 1676
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1677 non-null   int64
 1   Age                       1677 non-null   int64
 2   BusinessTravel            1677 non-null   object
 3   DailyRate                 1677 non-null   int64
 4   Department                1677 non-null   object
 5   DistanceFromHome          1677 non-null   int64
 6   Education                 1677 non-null   int64
 7   EducationField            1677 non-null   object
 8   EmployeeCount             1677 non-null   int64
 9   EnvironmentSatisfaction   1677 non-null   int64
 10  Gender                    1677 non-null   object
 11  HourlyRate                1677 non-null   int64
 12  JobInvolvement            1677 non-null   int64
 13  JobLevel                  1677 non-null   int64
 14  JobRole                   1677 non-null   object
 15  JobSatisfaction           1677 non-null   int64
 16  MaritalStatus             1677 non-null   object
 17  MonthlyIncome             1677 non-null   int64
 18  MonthlyRate               1677 non-null   int64
 19  NumCompaniesWorked        1677 non-null   int64
 20  Over18                    1677 non-null   object
 21  OverTime                  1677 non-null   object
 22  PercentSalaryHike         1677 non-null   int64
 23  PerformanceRating         1677 non-null   int64
 24  RelationshipSatisfaction  1677 non-null   int64
 25  StandardHours             1677 non-null   int64
 26  StockOptionLevel          1677 non-null   int64
 27  TotalWorkingYears         1677 non-null   int64
 28  TrainingTimesLastYear     1677 non-null   int64
 29  WorkLifeBalance           1677 non-null   int64
 30  YearsAtCompany            1677 non-null   int64
 31  YearsInCurrentRole        1677 non-null   int64
 32  YearsSinceLastPromotion   1677 non-null   int64
 33  YearsWithCurrManager      1677 non-null   int64
 34  Attrition                 1677 non-null   int64
dtypes: int64(27), object(8)
memory usage: 458.7+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1119 non-null   int64
 1   Age                       1119 non-null   int64
 2   BusinessTravel            1119 non-null   object
 3   DailyRate                 1119 non-null   int64
 4   Department                1119 non-null   object
 5   DistanceFromHome          1119 non-null   int64
 6   Education                 1119 non-null   int64
 7   EducationField            1119 non-null   object
 8   EmployeeCount             1119 non-null   int64
 9   EnvironmentSatisfaction   1119 non-null   int64
 10  Gender                    1119 non-null   object
 11  HourlyRate                1119 non-null   int64
 12  JobInvolvement            1119 non-null   int64
 13  JobLevel                  1119 non-null   int64
 14  JobRole                   1119 non-null   object
 15  JobSatisfaction           1119 non-null   int64
 16  MaritalStatus             1119 non-null   object
 17  MonthlyIncome             1119 non-null   int64
 18  MonthlyRate               1119 non-null   int64
 19  NumCompaniesWorked        1119 non-null   int64
 20  Over18                    1119 non-null   object
 21  OverTime                  1119 non-null   object
 22  PercentSalaryHike         1119 non-null   int64
 23  PerformanceRating         1119 non-null   int64
 24  RelationshipSatisfaction  1119 non-null   int64
 25  StandardHours             1119 non-null   int64
 26  StockOptionLevel          1119 non-null   int64
 27  TotalWorkingYears         1119 non-null   int64
 28  TrainingTimesLastYear     1119 non-null   int64
 29  WorkLifeBalance           1119 non-null   int64
 30  YearsAtCompany            1119 non-null   int64
 31  YearsInCurrentRole        1119 non-null   int64
 32  YearsSinceLastPromotion   1119 non-null   int64
 33  YearsWithCurrManager      1119 non-null   int64
dtypes: int64(26), object(8)
memory usage: 297.4+ KB

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Attrition.csv to Attrition.csv

In [ ]:
attrition = pd.read_csv(io.BytesIO(uploaded['Attrition.csv']))
attrition.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [ ]:
# rename column name
attrition.rename(columns = {'EmployeeNumber':'id'}, inplace = True)
attrition.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,id,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [ ]:
# replace yes/no
attrition.loc[attrition['Attrition'] == 'Yes','Attrition'] = 1
attrition.loc[attrition['Attrition'] == 'No','Attrition'] = 0
attrition['Attrition'].unique()

array([1, 0], dtype=object)

In [ ]:
# concat data
attrition = attrition[train.columns.tolist()]
frames = [train, attrition]
train = pd.concat(frames)
train.reset_index( drop=True, inplace=True)
train

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,36,Travel_Frequently,599,Research & Development,24,3,Medical,1,4,...,80,1,10,2,3,10,0,7,8,0
1,1,35,Travel_Rarely,921,Sales,8,3,Other,1,1,...,80,1,4,3,3,4,2,0,3,0
2,2,32,Travel_Rarely,718,Sales,26,3,Marketing,1,3,...,80,2,4,3,3,3,2,1,2,0
3,3,38,Travel_Rarely,1488,Research & Development,2,3,Medical,1,3,...,80,0,15,1,1,6,0,0,2,0
4,4,50,Travel_Rarely,1017,Research & Development,5,4,Medical,1,2,...,80,0,31,0,3,31,14,4,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9022,2061,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,3,...,80,1,17,3,3,5,2,0,3,0
9023,2062,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,4,...,80,1,9,5,3,7,7,1,7,0
9024,2064,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2,...,80,1,6,0,3,6,2,0,3,0
9025,2065,49,Travel_Frequently,1023,Sales,2,3,Medical,1,4,...,80,0,17,3,2,9,6,0,8,0
9026,2068,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2,...,80,0,6,3,4,4,3,1,2,0

In [ ]:
from lightgbm.sklearn import LGBMClassifier
import lightgbm as lgbm
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold

In [ ]:
features =  list(train.columns)
features.remove('id')
features.remove('Attrition')

target = 'Attrition'

In [ ]:
columns_with_strings_as_values = list((train.dtypes[train.dtypes == 'object']).index)
columns_with_strings_as_values

[]

In [ ]:
for col in columns_with_strings_as_values:
  le = LabelEncoder()
  train[col] = le.fit_transform(train[col])
  test[col] = le.fit_transform(test[col])

train.head(3)

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,36,1,599,1,24,3,3,1,4,...,80,1,10,2,3,10,0,7,8,0
1,1,35,2,921,2,8,3,4,1,1,...,80,1,4,3,3,4,2,0,3,0
2,2,32,2,718,2,26,3,2,1,3,...,80,2,4,3,3,3,2,1,2,0

In [ ]:
test.head(3)

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1677,19,0,992,1,1,1,3,1,4,...,4,80,0,1,2,2,1,0,0,0
1,1678,45,2,1136,2,4,4,2,1,3,...,3,80,1,7,3,3,2,2,2,2
2,1679,37,2,155,1,13,3,1,1,4,...,2,80,2,13,2,2,7,7,1,7

In [ ]:
train[features]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,1,599,1,24,3,3,1,4,1,...,2,80,1,10,2,3,10,0,7,8
1,35,2,921,2,8,3,4,1,1,1,...,4,80,1,4,3,3,4,2,0,3
2,32,2,718,2,26,3,2,1,3,1,...,4,80,2,4,3,3,3,2,1,2
3,38,2,1488,1,2,3,3,1,3,0,...,3,80,0,15,1,1,6,0,0,2
4,50,2,1017,1,5,4,3,1,2,0,...,3,80,0,31,0,3,31,14,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9022,36,1,884,1,23,2,3,1,3,1,...,3,80,1,17,3,3,5,2,0,3
9023,39,2,613,1,6,1,3,1,4,1,...,1,80,1,9,5,3,7,7,1,7
9024,27,2,155,1,4,3,1,1,2,1,...,2,80,1,6,0,3,6,2,0,3
9025,49,1,1023,2,2,3,3,1,4,1,...,4,80,0,17,3,2,9,6,0,8
9026,34,2,628,1,8,3,3,1,2,1,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
import numpy as np
clfs = []
scores = []

kf = StratifiedKFold(n_splits=10, random_state=0, shuffle = True)
for train_index, val_index in kf.split(train, y=train['Attrition']):
  X_train, X_val = train[features].loc[train_index], train[features].loc[val_index]
  y_train, y_val = train[target][train_index], train[target][val_index]

  clf = LGBMClassifier(n_estimators=150, categorical_feature=[1,3,6,9,13,15,19,20,33], metric='auc')
  clf.fit(X_train.values, y_train, eval_set=[(X_val, y_val)], verbose=False)
  preds = clf.predict_proba(X_val.values)

  clfs.append(clf)
  scores.append(roc_auc_score(y_val,preds[:,1]))

print(f'mean score across all folds :{np.mean(scores)}')

/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'
/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:739: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  warnings.warn('{0} keyword has been found in `params` and will be ignored.\n'

mean score across all folds :0.986385891657139

In [ ]:
test_preds = []

for clf in clfs:
  preds = clf.predict_proba(test[features].values)
  test_preds.append(preds[:, 1])

In [ ]:
test_preds = np.stack(test_preds).mean(0)
test_preds

array([0.08101423, 0.02036594, 0.00254905, ..., 0.00969811, 0.00550134,
       0.00179801])

In [ ]:
submission = pd.DataFrame(data={'id':test.id, 'Attrition':test_preds})
submission.head()

     id  Attrition
0  1677   0.081014
1  1678   0.020366
2  1679   0.002549
3  1680   0.009814
4  1681   0.670377

In [ ]:
submission.to_csv('submission.csv',index=False)